<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fidnortech.xjx.system.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.fidnortech.xjx.system.entity.SysMenu">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="route" column="route" jdbcType="VARCHAR"/>
        <result property="isShow" column="is_show" jdbcType="SMALLINT"/>
        <result property="isDel" column="is_del" jdbcType="SMALLINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,parent_id,name,
        permission,route,is_show,
        is_del,create_by,create_time,
        update_by,update_time,icon
    </sql>


    <resultMap id="BaseListMap" type="com.fidnortech.xjx.system.entity.SysMenu">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="menuId" column="menu_id" jdbcType="VARCHAR"/>

        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="route" column="route" jdbcType="VARCHAR"/>
        <result property="isShow" column="is_show" jdbcType="SMALLINT"/>
        <result property="isDel" column="is_del" jdbcType="SMALLINT"/>

        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="menuApplyList" resultType="com.fidnortech.xjx.system.entity.SysMenu">
        SELECT
            t1.* ,
            t2.menu_id,t2.remark,t2.apply_state
        FROM
            t_sys_menu t1
                LEFT JOIN t_sys_user_menu t2 ON t1.ID = t2.menu_id
                AND t2.user_id = #{userId}
        ORDER BY  t1.create_time desc
    </select>

    <select id="userMenuList" resultType="com.fidnortech.xjx.system.entity.SysMenu">
        SELECT
            t1.*,
            t2.menu_id,t2.remark,t2.apply_state
        FROM
            t_sys_menu t1
                LEFT JOIN t_sys_user_menu t2 ON t1.ID = t2.menu_id
                AND t2.user_id = #{userId}
        where t2.menu_id IS NOT NULL
        ORDER BY  t1.create_time desc
    </select>



    <select id="getMenuByUserId" resultType="com.fidnortech.xjx.system.entity.SysMenu">
        SELECT
            t4.* ,
            t5.menu_id AS menu_id
        FROM
            t_sys_menu t4
                LEFT JOIN (
                SELECT DISTINCT
                    t3.menu_id
                FROM
                    t_sys_menu_role t3
                WHERE
                        t3.role_id IN (
                        SELECT
                            t2.role_id
                        FROM
                            t_sys_user_role t2
                        WHERE
                                t2.user_id = #{id}
                    )
            ) t5 ON t4.ID = t5.menu_id
        WHERE
            t4.is_del =0
            ORDER BY  create_time desc

    </select>

    <select id="getRootMenu" resultType="com.fidnortech.xjx.system.entity.SysMenu">
        SELECT id AS menu_Id  FROM t_sys_menu WHERE parent_id = '0'
    </select>



</mapper>
