<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fidnortech.xjx.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fidnortech.xjx.system.entity.SysUser">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="sex" property="sex"/>
        <result column="birth_Day" property="birthDay"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="depart_id" property="departId"/>
        <result column="depart_name" property="departName"/>
        <result column="name" property="name"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultVO" type="com.fidnortech.xjx.system.entity.vo.SysUserVO">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <result column="user_name" property="userName"/>
        <result column="sex" property="sex"/>
        <result column="birth_Day" property="birthDay"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="depart_id" property="departId"/>
        <result column="depart_name" property="departName"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="UserRoleVo" type="com.fidnortech.xjx.system.entity.vo.UserRoleVo">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="is_del" property="isDel"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
    </resultMap>


    <resultMap id="sysUserRoleVo" type="com.fidnortech.xjx.system.entity.vo.SysUserRoleVo">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="sex" property="sex"/>
        <result column="birth_day" property="birthDay"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="depart_id" property="departId"/>
        <collection property="roleList" javaType="java.util.ArrayList"
                    ofType="com.fidnortech.xjx.system.entity.SysUserRole">
            <result column="user_id" property="userId"/>
            <result column="role_id" property="roleId"/>
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_by,
        create_time,
        update_by,
        update_time,
        is_del,
        name,
        user_name, password,birth_day,depart_id
    </sql>

    <select id="getbyId" resultMap="sysUserRoleVo">
        SELECT t_sys_user.*, t_sys_user_role.role_id
        FROM t_sys_user,
             t_sys_user_role
        WHERE t_sys_user.id = t_sys_user_role.user_id
          and t_sys_user.id = #{id}
    </select>

    <select id="getUserListPage" resultMap="BaseResultVO" parameterType="com.fidnortech.xjx.system.entity.SysUser">

        SELECT
        t1.ID,
        t1.create_by,
        t1.create_time,
        t1.update_by,
        t1.update_time,
        t1.is_del,
        t1.user_name,
        t1.birth_day,
        t1.depart_id,
        t1.phone,
        t1.sex,
        t1.address,
        t1.name,
        t2.NAME AS depart_name
        FROM
        t_sys_user t1
        LEFT JOIN t_sys_depart t2 ON t1.depart_id = t2.ID
        <where>
            t1.is_del = '0'
            <if test="sysUser.userName != null and sysUser.userName !=''">
                    and t1.user_name like CONCAT('%',#{sysUser.userName},'%')
            </if>

            <if test="sysUser.phone != null and sysUser.phone !=''">
                and t1.phone like CONCAT('%',#{sysUser.phone},'%')
            </if>
            <if test="sysUser.departId != null and sysUser.departId !=''">
                and t1.depart_id = #{sysUser.departId}
            </if>

        </where>
        order by t1.update_time desc
    </select>


    
    <select id="getUserRolePage" resultMap="UserRoleVo" parameterType="com.fidnortech.xjx.system.entity.vo.UserRoleVo">
        SELECT tbu.id,tbu.user_name,tbu.password,tbr.name role_name,
               tbu.address,tbu.phone,tbu.sex,tbu.birth_day,
               tbu.depart_id,tbu.name,tbu.email,tbu.role_id,
               tbu.create_by,tbu.create_time,tbu.update_by,tbu.update_time,
               tbu.is_del
        FROM
            t_sys_user tbu INNER JOIN t_sys_role tbr ON tbr.`id` = tbu.`role_id`
        <where>
            tbu.is_del = 0
            <if test="name != null and name !=''">
                AND tbu.user_name LIKE CONCAT('%',#{name},'%') OR tbu.name LIKE CONCAT('%',#{name},'%')
            </if>
            LIMIT #{pageNum},#{pageSize}
        </where>

    </select>


</mapper>
